
.brands__title {
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
}
.brands__item {
    height: 92px;
    width: calc(100% / 6 - 30px / 6 * 5);
}

.brands__link {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid #afb1b8;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: fill;
    transition-duration: 2250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
    .brands__list {
    display: flex;
    justify-content: space-between;
}

.brands__link{
&:hover,
&:focus {
    fill:var(--other-link-color);
    border-color: var(--other-link-color);
}}
.brands__link {

    &:hover,
    &:focus {
        .brands__icon {
            fill:var(--other-link-color)
        }
    }
}






.brands__icon {
    color: rgba(33, 150, 243, 1);
    display: flex;
    align-items: center;
    justify-content: center; 
            fill: rgba(175, 177, 184, 1);
}