.hero__title {
    margin: auto;
    display: inline-block;
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    max-width: 696px;
    margin: 0 auto 30px auto;
    color: var(--aksent-text-other-color);
}
.hero {
    padding: 200px;
    text-align: center;

    background-color: var(--primary-background-color);
}
.hero {
    max-width: 1600px;
    margin: auto;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero.jpg);
}
.button {
    padding-top: 10 px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-top: 10px;
    padding-right: 32px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-color: var(--other-link-color);
    border: none;
    cursor: pointer;
    font-family: "roboto", sans-serif;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    display: flex;
    margin: 0 auto;
    align-items: center;
    background-color: var(--other-link-color);
    color: var(--aksent-text-other-color);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
&:hover {
    background-color: #188ce8;
&:focus {
    color: white;
}}}

